<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ERROR_RECOVERY_ONLY</string>
    <key>EXUpdatesCodeSigningCertificate</key>
    <string>-----BEGIN CERTIFICATE-----&#xD;
MIICzTCCAbWgAwIBAgIJaRE4OqxGUB3/MA0GCSqGSIb3DQEBCwUAMA8xDTALBgNV&#xD;
BAMTBHRlc3QwIBcNMjIwOTAxMjEwMjE4WhgPMjEyMjA5MDEyMTAyMThaMA8xDTAL&#xD;
BgNVBAMTBHRlc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDOl2Qp&#xD;
xtE9jvogO5+ryz0UsB+0eU6kfAOJZyBXNdFvG/dTave6pc/9lP//If9TeUx8k93g&#xD;
g8W1j2keHufpNYnQ80gai2aaAssn2wGdrruUCce61UCqMcIagaQ+1dMdPUjbxOTU&#xD;
Us+NrjQTsusuRrdffdrsmmIf1ciWvHrHOzLYuLVacpe8h5obOqMFiRyH8Wvtx70c&#xD;
OT9foAW4JMrcYv7CxgR+b9D8OdetOR7S3TDcmy3N2+jHjf76J2f4PvgSg1bcRtc+&#xD;
tpL9SCFo/vGVKxOBjFahkRZXBfPgj0J5JXtD9BFfGjEiAXZ/R05ndHoNXHbGIF+a&#xD;
oxvpLDmRhF3rxR9BAgMBAAGjKjAoMA4GA1UdDwEB/wQEAwIHgDAWBgNVHSUBAf8E&#xD;
DDAKBggrBgEFBQcDAzANBgkqhkiG9w0BAQsFAAOCAQEAj+4Okli8bbFZVKsO3qed&#xD;
CX2HJU2OPOxwCVcUZNJgPyjGdR7+W5vb16WbqfTrURhasIZzyW2RbxQsj2vcaJFZ&#xD;
CDxBN4eOUYD+sAsshGRC6RIv5EbPG8urQORukmBSuhmEPZrESiknJyqze56NIeQn&#xD;
/Ynfj21HQRVSmt9jV0UB3Iv6vUZN+H9jXcMrczXOycTsVVKPcVpsbYEdqissRUTK&#xD;
g/2MpqlGQh9LQ57WEr5cH5XYWK2NyTUeCXETB4/VpMPcu0wycem5qMUiWGjORj2D&#xD;
bRP/TXv7tj88R10d63Ib5SzmaFDGLhB+ghIov/g/kg3lZNcm8pkrA1LA58zWSZZ/&#xD;
wQ==&#xD;
-----END CERTIFICATE-----&#xD;
</string>
    <key>EXUpdatesCodeSigningMetadata</key>
    <dict>
      <key>keyid</key>
      <string>main</string>
      <key>alg</key>
      <string>rsa-v1_5-sha256</string>
    </dict>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.1.1</string>
    <key>EXUpdatesURL</key>
    <string>http://10.0.0.30:3000/api/manifest?project=exampleejected&amp;channel=staging</string>
  </dict>
</plist>