<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ERROR_RECOVERY_ONLY</string>
    <key>EXUpdatesCodeSigningCertificate</key>
    <string>-----BEGIN CERTIFICATE-----&#xD;
MIICzTCCAbWgAwIBAgIJOI26H+in8+asMA0GCSqGSIb3DQEBCwUAMA8xDTALBgNV&#xD;
BAMTBHRlc3QwIBcNMjIwODI3MDk1OTUwWhgPMjEyMjA4MjcwOTU5NTBaMA8xDTAL&#xD;
BgNVBAMTBHRlc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDpHr10&#xD;
Qte+dFg1iLHbI6Z7qY6CD9qR8ly2ODM+uLksPbaVbShzNMRKdnZ58b91nrT0VeYU&#xD;
9ipRBk2ZmE4L2tI+1WzOaDSTwuUtrvoyjr+KIkBeQ1If+8pJel0YGoBwpfmXhChu&#xD;
Ri7WkvlAgmYL/L/N0Fcew+t+p7gIAnKGYW720s6t3mbk3KfkpmLdVD07Rd51S2wM&#xD;
Z5mFJjletSmSqHMP4Oyu+oF/diaTFCeU+JfdbHeBPHaoXS2dUD6LUIGjGjXPu8A5&#xD;
0peRLiy326Ly6IEKkdr7xOVoVKY/JhMzUL2z2yJigW9C/nATsKkM3rw9E6UFJutk&#xD;
afik58vnSCcoH+jNAgMBAAGjKjAoMA4GA1UdDwEB/wQEAwIHgDAWBgNVHSUBAf8E&#xD;
DDAKBggrBgEFBQcDAzANBgkqhkiG9w0BAQsFAAOCAQEAyOcRmd39913VEZfRBRH6&#xD;
q/LaTE1gY+Evwh0Vvu3nJP17VajLgQDe+DwQRTxSzTFxJxAaYbQBDuJufP0ABOwe&#xD;
9a01EWfnh8xnnEv5qAPDnSKob7RiCvamDIpCZdB/rjaMSA0AJgNxB24Fs2EHqrHh&#xD;
VfMKcNO1F7Tk8caywxAwoFS7krVJs0uYPgnWDEd7PTSXTtPFouQ6dnyeOKrETh/A&#xD;
ELehkZkhYLlhRdN4e0dHtJcBH+EAH4R3nsMmSk2TNmG7KuRZuK8R52awY19t3wnZ&#xD;
NuND7ksA+RMFm3yhWUFeKqGuyM7c7GWHKd0PbmHhZAELq+2jBgcIDz52u+wuJsVB&#xD;
+w==&#xD;
-----END CERTIFICATE-----&#xD;
</string>
    <key>EXUpdatesCodeSigningMetadata</key>
    <dict>
      <key>keyid</key>
      <string>main</string>
      <key>alg</key>
      <string>rsa-v1_5-sha256</string>
    </dict>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRequestHeaders</key>
    <dict>
      <key>expo-channel-name</key>
      <string>staging</string>
      <key>expo-project</key>
      <string>customupdates</string>
    </dict>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.1.1</string>
    <key>EXUpdatesURL</key>
    <string>http://10.0.0.30:3000/api/manifest</string>
  </dict>
</plist>